/*For body on all pages*/
body{   background-color: brown;
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 0%;
    margin: 0%;
}

/*For all NAV related things*/
nav{ background-color: green;   
    grid-column: 1 / 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 40px;
}
.navUl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    margin: 0% 11%;
    padding: 0%;
}
.navLi{
    list-style: none;
    text-align: center;
    height: 100%;
    margin: 0%;

}

/*For the links in the nav*/
.navLink{
    display: block;
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
    transition: 0.45s;
    background-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.navLink:hover{
    background-image: linear-gradient(green, green, blue);
}
.navLink:active{
    
}

/*For all footer related things*/
footer{ background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / 3 ;
    padding: 0%;
    border-radius: 15px 15px 0 0 ;
}
.footerLinks{
    grid-column: 1;
    list-style: none;
    text-align: right;
}
.footerContact{
    grid-column: 3;
    list-style: none;
    text-align: left;
}