.contactContainer {
    background-color: green;
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr;
}

main {
    height: 100%;
}

#contactForm {
    grid-column: 1;
    display: grid;
    grid-template-columns:1fr;
    gap: 10%;
    background-color: blue;
}

.formLable {
    grid-column: 1;
}
.formInput {
    grid-column: 2;
}

.submitButton {
    width: 100px;
}

.contactInfo {

}
